<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <main layout:fragment="content">
        <div class="content-container">
            <h1 th:text="${post.title}">제목</h1>
            <div id="post-content" class="content" th:utext="${post.content}"></div>
            <a th:href="@{/admin/posts}">목록으로 돌아가기</a>
        </div>
    </main>
    <script>
        const converter = new showdown.Converter();
        const postContent = document.getElementById('post-content');
        postContent.innerHTML = converter.makeHtml(postContent.textContent);
        hljs.highlightAll();
    </script>
</html>