<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <main class="container pt-5" layout:fragment="content">
        <div th:if="${response}" th:text="${response.resultMessage}"></div>
        <h1 class="display-5">게시글 목록</h1>
        <div class="sub-menu">
            <a class="btn btn-info" th:href="@{/admin/posts/new}">게시글 작성</a>
            <a class="btn btn-info" th:href="@{/admin/posts/history}">게시글 이력</a>
        </div>
        <table class="main-table table table-bordered text-center">
            <thead class="table-info">
            <tr>
                <th scope="col">게시글 ID</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">카테고리</th>
                <th scope="col">태그</th>
                <th scope="col">게시글 상태</th>
                <th scope="col">마지막 수정자</th>
                <th scope="col">관리</th>
            </tr>
            </thead>
            <tbody class="table-light">
            <tr th:each="post : ${posts}" th:id="'post-' + ${post.id}">
                <td th:text="${post.id}">게시글 ID</td>
                <th scope="row">
                    <a th:href="@{/admin/posts/{id}(id=${post.id})}" th:text="${post.title}">제목</a>
                </th>
                <td th:text="${post.content}">내용</td>
                <td th:text="${post.category}">카테고리</td>
                <td th:text="${post.tags}">태그</td>
                <td th:text="${post.status}">게시글 상태</td>
                <td th:text="${post.lastModifyUser}">마지막 수정자</td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{/admin/posts/edit/{id}(id=${post.id})}">수정</a>
                        <form th:action="@{/admin/posts/delete/{id}(id=${post.id})}" method="post">
                            <input type="hidden" th:value="${_csrf.token}" name="_csrf">
                            <button type="submit" onclick="return confirm('게시글을 삭제하시겠습니까?')">삭제</button>
                        </form>
                        <a th:href="@{/admin/categories/history/{id}(id=${post.id})}">이력</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</html>
