<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<main class="container-sm pt-5" layout:fragment="content">
  <!-- 메시지 표시 -->
  <div th:if="${response}" th:text="${response.resultMessage}"></div>
  <table class="main-table table table-bordered table-info text-center">
    <thead>
    <tr>
      <th scope="col">버전 번호</th>
      <th scope="col">수정된 시간</th>
      <th scope="col">수정자</th>
      <th scope="col">수정 종류</th>
      <th scope="col">변경 전 게시글</th>
      <th scope="col">변경 후 게시글</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postHistory}" th:id="'post-' + ${post.id}">
      <td th:text="${post.id}">버전 번호</td>
      <td th:text="${post.changeTime}">수정된 시간</td>
      <td th:text="${post.changeUser}">수정자</td>
      <td th:text="${post.changeType}">수정 종류</td>
      <td th:text="${post.oldPost}">변경 전 게시글</td>
      <td th:text="${post.newPost}">변경 후 게시글</td>
    </tr>
    </tbody>
  </table>
</main>
</html>