<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<main class="container-sm pt-5" layout:fragment="content">
  <!-- 메시지 표시 -->
  <div th:if="${response}" th:text="${response.resultMessage}"></div>
  <table class="main-table table table-bordered table-info text-center">
    <thead>
    <tr>
      <th scope="col">이력 대상 카테고리 ID</th>
      <th scope="col">이력 시간</th>
      <th scope="col">이력 타입</th>
      <th scope="col">변경 전 데이터</th>
      <th scope="col">변경 후 데이터</th>
      <th scope="col">이력 행위자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categoryHistory}" th:id="'category-' + ${category.id}">
      <td th:text="${category.categoryId}">이력 대상 카테고리 ID</td>
      <td th:text="${category.changeTime}">이력 시간</td>
      <td th:text="${category.status}">이력 타입</td>
      <td th:text="${category.oldData}">변경 전 데이터</td>
      <td th:text="${category.newData}">변경 후 데이터</td>
      <td th:text="${category.changeUser}">이력 행위자</td>
    </tr>
    </tbody>
  </table>
</main>
</html>