<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.category.dao.CategoryMapper">
    <select id="getCategories" resultType="com.example.backend.category.dto.CategoriesResponse">
        SELECT c.id, c.name, c.visible, 
               c.created_time, u.username AS created_user_name, 
               c.last_modified_time, u2.username AS last_modified_user_name
        FROM categories c
        LEFT JOIN users u ON c.created_user_id = u.id
        LEFT JOIN users u2 ON c.last_modified_user_id = u2.id
        WHERE c.visible != 'UNPUBLISHED';
    </select>

    <select id="getAllCategoryHistory" resultType="com.example.backend.category.dto.CategoryHistoryAllResponse">
        SELECT id, category_id, change_time, change_user, change_type, old_data, new_data
        FROM category_history;
    </select>
</mapper>