<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.tag.dao.TagMapper">
    <select id="getAllTags" resultType="com.example.backend.tag.dto.TagsResponse">
        SELECT t.id AS id,
               t.name AS name,
               ur.username AS creator,
               ur.timestamp AS createdDate
        FROM tags t
                 JOIN (
            SELECT ta.id,
                   MIN(ur.timestamp) AS 최초_생성_시간
            FROM tags_aud ta
                     JOIN user_revision ur ON ta.rev = ur.id
            GROUP BY ta.id
        ) AS first_created ON t.id = first_created.id
                 JOIN tags_aud ta ON t.id = ta.id AND ta.rev = (
            SELECT ta_inner.rev
            FROM tags_aud ta_inner
            WHERE ta_inner.id = t.id
            ORDER BY ta_inner.rev ASC
            LIMIT 1
            )
            JOIN user_revision ur ON ta.rev = ur.id AND ur.timestamp = first_created.최초_생성_시간;
    </select>

    <select id="getAllTagHistory" resultType="com.example.backend.tag.dto.TagHistoryAllResponse">
        SELECT ta.rev, ta.revtype, ta.id, ta.name, ur.timestamp, ur.username
        FROM tags_aud ta
        JOIN user_revision ur ON ta.rev = ur.id
        ORDER BY ur.timestamp DESC;
    </select>
</mapper>